.jsAutoSuggestList {
	width: 100px;
	position: relative;
	border: 1px solid rgba(150, 150, 150, 0.5);
	box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 0.5);
	font-family: arial;
	overflow: auto;
	background: #FFF;
	border-radius: 5px;
	display: none;
	z-index: 999;
}

.jsAutoSuggestList.open {
  display: block;
}

.jsAutoSuggestOption {
	padding: 2px;
	text-align: center;
}

.jsAutoSuggestOption.selected {
	background: #CCC;
	cursor: pointer;
}
