body {
	margin: 0;
}

#in {
	width: 400px;
	border: 1px solid rgba(150, 150, 150, 0.5);
	margin: auto;
	padding: 5px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 0.5); 
	font-family: arial;
	overflow: auto;
	text-align: center;

}

#in input {
	width: 100%;
}

.test {
	color: red;
}