$grey: rgba(150, 150, 150, 0.2);

.react-predict {
  position: relative;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .react-predict-input {
    width: 100%;
  }

  .react-predict-list {
    width: 100%;
    position: absolute;
    border: 1px solid $grey;
    box-shadow: 1px 1px 1px 1px $grey;
    overflow: auto;
    background: #FFF;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 999;
  }

  .react-predict-list.open {
    display: block;
  }

  .react-predict-item {
    padding: 2px;
    text-align: center;
  }

  .react-predict-item:hover,
  .react-predict-item.hover {
    background: $grey;
    cursor: pointer;
  }

}
